<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/logout.js")
    @Scripts.Render("~/Content/mansonry.css")
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script type="text/javacsript">
        $('.container').masonry({
      
        itemSelector: '.container-item',
        columnWidth: 1
        });
    </script>
    <style>
        .container-item {
            width: 200px;
        }
    </style>
</head>

<body onunload="del_cookie()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Projet SupInfo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                @Html.ActionLink("Voiture", "Index", "Home", new { data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Liste Voiture", "Index", "Voitures")</li>
                                    <li>@Html.ActionLink("Ajouter Voiture", "Create", "Voitures")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Location", "Index", "Home", new { data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Histoire Location", "Index", "Locations")</li>
                                    <li>@Html.ActionLink("Ajouter Location", "Create", "Locations")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Position", "Index", "Home", new { data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Liste Position", "Index", "Positions")</li>
                                    <li>@Html.ActionLink("Ajouter Position", "Create", "Positions")</li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        <section class="container">
            <ul>
                <li class="container-item">
                    <img src="~/Content/images/image1.png" alt="1" />
                </li>
                <li class="container-item">
                    <img src="~/Content/images/image2.png" alt="1" />
                </li>
                <li class="container-item">
                    <img src="~/Content/images/image3.png" alt="1" />
                </li>
                <li class="container-item">
                    <img src="~/Content/images/image4.png" alt="1" />
                </li>
                <li class="container-item">
                    <img src="~/Content/images/image5.png" alt="1" />
                </li>
            </ul>
        </section> 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - Projet ASP SupInfo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
